/*.show-hide {
  padding:10px;
  border:1px solid black;
  background:white;
}

.show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.show-hide.ng-hide {
  opacity:0;
}
*/

h1{
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif;   
}

ul {
  padding-bottom: 20px;
}

lh,.list {
  font-family: 'Fanwood Text', serif;
  font-size: 1.2em;
}

lh {
  font-size: 1.5em;
  padding: 20px 0;
  display: block;
}

.list {
  padding: 0 20px 5px 0;
}

.center {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif; 
  margin: 0 auto;
  float: none;
}

.form-inline{
  width: 580px;
}

.chart {
  width: 700px;
  position: fixed;
}

.quotes {
  margin: 50px auto;
  padding: 0 100px 0 0;
}

.border {
  border: 1px #BAC0C2 solid;
  border-radius: 5px;
}

/*politifacts chart CSS*/

/*label*/

text {
  fill: #636363;
}

/*bubble colors */

.true {
  fill: #39B500;
  stroke: #BFBFBF;
}

.mostly-true {
  fill: #7ACC54;
  stroke: #BFBFBF;
}

.half-true {
  fill: #FFE733;
  stroke: #BFBFBF;
}

.barely-true {
  fill: #ED9B0C;
  stroke: #BFBFBF;
}

.false {
  fill: #DE3D1D;
  stroke: #BFBFBF;
}

.pants-fire {
  fill: #FF0000;
  stroke: #BFBFBF;
}

.no-flip {
  fill: #3399FF;
  stroke: #BFBFBF;
}

.half-flip {
  fill: #BE47F5;
  stroke: #BFBFBF;
}

.full-flop {
  fill: #F257A7;
  stroke: #BFBFBF;
}

.has-error {
  border: 1px solid red;
}

/*svg related*/

g {
  cursor: pointer;
}

text {
  z-index: 10;
}

circle {
  z-index: 1;
  opacity: 0.6; 
}

.d3-tip {
  opacity: 0.5;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: white;
  color: black;
  border-radius: 4px;
  border: 1px solid #BFBFBF;
  width: 300px;
}

.miniQuote {
  font-family: 'Fanwood Text', serif;
  font-size: 1em;
}