<div>
    <nav-bar></nav-bar>
    <div class='filters'>

      <form class="col-md-3">
        <select ng-model="cycle" class="form-control" ng-change="selectFilter()">
          <option value="2016">2016</option>
          <option value="2014">2014</option>
          <option value="2012">2012</option>
          <option value="2010">2010</option>
          <option value="2008">2008</option>
        </select>
      </form>
      
      <form class="col-md-3">
        <select ng-model="group" class="form-control" ng-change="selectFilter()">
          <option value="Candidates">Candidates</option>
          <option value="Contributions">Contributors</option>
        </select>
      </form>

      <form class="col-md-6" ng-submit="selectFilter()">
        <autocomplete ng-model="name" data="options" on-type="updateMovies" attr-placeholder="Enter a Name"></autocomplete>
      </form>


      <form class="col-md-3">
        <select ng-model="contrib" class="form-control" ng-change="selectFilter()">
          <option value="ALL">Total Contributions</option>
          <option value="PAC">PAC Contributions</option>
          <option value="PP">Political Party Contributions</option>
          <option value="I">Individual Contributions</option>
          <option value="C">Candidate Contributions</option>
          <option value="D">Total Disbursements</option>
        </select>
      </form>
    
      <form class="col-md-3">
        <select ng-model="partyAffil" class="form-control" ng-change="selectFilter()" >
          <option value="ALL">All Party Affiliations</option>
          <option value="REP">Republican</option>
          <option value="DEM">Democrat</option>
          <option value="IND">Independent</option>
        </select>
      </form>

      <form class="col-md-3">
        <select ng-model="candOffice" class="form-control" ng-change="selectFilter()">
          <option value="ALL">All Offices</option>
          <option value="H">House</option>
          <option value="S">Senate</option>
          <option value="P">President</option>
        </select>
      </form>

      <form class="col-md-3">
        <select ng-model="candState" class="form-control" ng-change="selectFilter()">
          <option value="ALL">All states</option>
          <option value="00">Presidential</option>
          <option ng-repeat="state in states">{{state}}</option>
        </select>
      </form>
    </div>
    <p class='text-center'>Data from fec.gov</p>

    <h2 ng-model='name'>{{cycle}} {{title}} {{other}}</h2>
    <div class="center-block cont_chart center">
        <my-chart></my-chart>
  </div>
</div>